:root {
  --color-black: #0d0d0d;
  --color-white: #fefefe;
  --color-gray-dark: #666666;
  --color-gray-light: #e3e3e3;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: inherit;
}

header {
  line-height: 1;
}
