.root {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow-x: auto;
  padding: 0 0 1.5rem;
}

.leftPadding {
  flex: 0 0 calc(50% - var(--max-width) / 2);
}

.imageItem {
  margin-right: 1rem;
}
