.root {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.caption {
  color: var(--color-gray-dark);
  font-variation-settings:
    "COUT" 100,
    "JMBL" 200,
    "STGR" 100;
  margin: 0;
  padding: 1em;
}

.captionBordered {
  border-top: 1px solid var(--color-gray-light);
}

@media screen and (min-width: 47rem) {
  .captionPartialWidth {
    align-self: flex-end;
    padding-left: 0;
    width: calc(50% + var(--max-width) / 2);
  }
}

@media screen and (min-width: 47rem) {
  .root {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}
