.root {
  --padding: 1rem;
  display: flex;
  flex: 1;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  padding: 0 var(--padding) var(--padding);
}

@media screen and (min-width: 47rem) {
  .root {
    --padding: 2rem;
  }
}
