.root {
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-size: 2em;
  font-variation-settings:
    "COUT" 200,
    "JMBL" 300,
    "STGR" 100;
  line-height: 1;
  opacity: 0.9;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 56rem) {
  .root {
    color: inherit;
    opacity: 0.5;
  }
}
