.root {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 2em;
  font-variation-settings:
    "COUT" 200,
    "JMBL" 300,
    "STGR" 100;
  line-height: 1;
  opacity: 0.5;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    opacity: 1;
  }
}
