.root {
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  font: inherit;
  font-size: 2.5em;
  line-height: 1em;
  min-width: 1em;
  opacity: 0.9;
  text-shadow: 0px 0px 0.15em var(--color-black);

  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 56rem) {
  .root {
    color: inherit;
    opacity: 0.5;
    text-shadow: none;
  }
}
