$padding: 2rem;
$figureMaxHeight: 50rem;
$minHeightBreakpoint: $padding + $figureMaxHeight;

.root {
  background-color: rgba(255, 255, 255, 0.85);
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.backgroundImage {
  bottom: 0;
  filter: blur(3rem);
  left: 50%;
  opacity: 0.25;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
}

.container {
  height: 100%;
  position: relative;
  text-align: center;
}

.figure {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.portrait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
}

.styledPortraitImage {
  display: none;
  width: 35vh;
}

.caption {
  padding: 3vh 0;
  min-height: calc(3vh + 10.5rem);
}

.caption > h1 {
  font-size: 2em;
  margin: 0.2em 0 0.3em 0;
}

.caption > h2 {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0;
}

.caption > p {
  margin: 0;
}

.navigationButtons {
  display: none;
  margin-bottom: 0.4em;
}

.mobileNavigation {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 56rem) {
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .figure {
    display: block;
    height: auto;
  }

  .portrait {
    display: block;
    overflow-y: visible;
  }

  .portraitImage {
    border: 2.5vh solid #fff;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
    height: calc(100vh - 18rem);
    max-height: 50rem;
    transform: rotate(-2deg);
  }

  .figcaption {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: -8vh;
    text-align: left;
  }

  .styledPortraitImage {
    display: inline;
  }

  .caption {
    font-size: 1.2em;
    height: 14rem;
    margin-top: 5rem;
    min-height: auto;
    padding: 0 2rem 0 0;
    width: 34rem;
  }

  .navigationButtons {
    display: block;
  }

  .mobileNavigation {
    display: none;
  }
}

@media screen and (min-width: 84rem) {
  .container {
    text-align: left;
  }

  .figure {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }

  .portraitImage {
    height: calc(100vh - 2 * $padding);
  }

  .figcaption {
    align-items: stretch;
    flex-direction: column-reverse;
    width: 44rem;
  }

  .caption {
    height: auto;
    padding: 0 0 2.5em 2.5em;
    width: auto;
  }

  .styledPortraitImage {
    margin: 0 0 -2vh -15vh;
  }
}

@media screen and (min-height: $minHeightBreakpoint) {
  .portraitImage {
    border-width: 1.4rem;
  }

  .styledPortraitImage {
    width: 18rem;
  }
}
